body {
  	@include body-font;
	font-weight: 300;
}


h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
  text-align: center;
}

h2{
	margin-bottom: 2rem;
}

h3{
	margin-bottom: 1rem;	
}


section{
	padding: 2rem 0;
}


.alert{
	padding: .5rem 1rem;
	img{
		height: 1rem;
	}

	&.alert-warning{
		img{
			
		}
	}
}