$block_width: 80vw;
$block_height: $block_width / 4.1;
$side_offset: $block_width * 0.031;
$room_height: $block_height / 2.62;

$side_width: $block_width + $side_offset;
$common_width: $block_width * 0.179;
$stairs_width: $block_width * 0.1;

#block{
  display: flex;
  width: 100vw;
  height: 100vh;
}


.block-floor{
  border:1px solid black;
  margin: auto;
  width: $block_width;
  height: $block_height;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: grey;
}


.block-side{
  width: $side_width;
  height: $room_height;
  background: white;

  display: flex;
  flex-direction: row;

  &.block-east{
  }

  &.block-west{
    flex-direction: row-reverse;
    margin-left: -$side_offset;
  }
}

.block-common{
  width: $common_width;
  height: 100%;
  background: pink;
}

.block-stairs{
  width: $stairs_width;
  height: 100%;
  background: lime;
}


.block-room{
  flex:1;
  position: relative;
  width: auto;
  background: yellow;
  border: 1px solid black;
  height: 100%;

  &:nth-child(odd){
    .block-cupboard{
      right: 0;
    }

    .block-door{
      right: 19%;

      &:after{
        left: -100%;
      }
    }


  }

  &:nth-child(even){
    .block-cupboard{
      left: 0;
    }

    .block-door{
      left: 19%;

      &:after{
        left: 100%;
      }
    }
  }

  .block-cupboard{
    width: 19%;
    height: 20%;

    position: absolute;
    bottom: 0;


    background: blue;

  }

  .block-door{
    position: absolute;
    bottom: 0%;

    background: red;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    margin-bottom: -30%;

    &:after{
      content: "";
      background: green;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}



